#### Import a spark modules

In [1]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql import SparkSession

#### Set to spark configs

In [2]:
spark = (
    SparkSession
    .builder
    .master("local[*]")
    .appName("test")
    .getOrCreate()
)

your 131072x1 screen size is bogus. expect trouble
24/04/30 16:43:37 WARN Utils: Your hostname, DESKTOP-VMHJUON resolves to a loopback address: 127.0.1.1; using 192.168.92.85 instead (on interface eth0)
24/04/30 16:43:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/30 16:43:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

#### Create a test Dataset

In [3]:
data = [
    ("Ana", "", "Maria","12345", "F", 3000),
    ("Marcos", "", "Paulo","12485", "M", 1000),
    ("Ana", "", "Claudia","13344", "F", 2000),
    ("Victor", "", "Breia","77777", "F", 3000),
    ("Maria", "", "Dielly","15777", "F", 3000),
]

#### Create a test Schema

In [4]:
schema = (
    StructType([
        StructField("firstname", StringType(), True),
        StructField("middlename", StringType(), True),
        StructField("lastname", StringType(), True),
        StructField("id", StringType(), True),
        StructField("Gender", StringType(), True),
        StructField("salary", IntegerType(), True)
    ])
)

#### Create a Dataframe

In [5]:
df = spark.createDataFrame(data=data, schema=schema)

In [6]:
# print to schema
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [7]:
# print to dataframe
df.show(truncate=False)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |Gender|salary|
+---------+----------+--------+-----+------+------+
|Ana      |          |Maria   |12345|F     |3000  |
|Marcos   |          |Paulo   |12485|M     |1000  |
|Ana      |          |Claudia |13344|F     |2000  |
|Victor   |          |Breia   |77777|F     |3000  |
|Maria    |          |Dielly  |15777|F     |3000  |
+---------+----------+--------+-----+------+------+