## Analyzing a csv dataset

##### This dataset was imported from the Federal Government's Open Data Portal (Brazil).
In this dataset we have data on the purchase and sale prices of ethanol and gasoline during October 2022 
- [link of portal](https://dados.gov.br/dados/conjuntos-dados/serie-historica-de-precos-de-combustiveis-e-de-glp?source=post_page-----4185005771e5--------------------------------)

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [2]:
spark = (
    SparkSession
    .builder
    .master("local[*]")
    .appName("Spark_Dataframe")
    .getOrCreate()
)

your 131072x1 screen size is bogus. expect trouble
24/05/01 15:03:06 WARN Utils: Your hostname, DESKTOP-VMHJUON resolves to a loopback address: 127.0.1.1; using 192.168.92.85 instead (on interface eth0)
24/05/01 15:03:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/01 15:03:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
#create a dataframe from a csv file
df = (
    spark
    .read
    .option('delimiter', ';')
    .option('header', True)
    .option('inferSchema', True)
    .option('encoding', 'ISO-8859-1')
    .csv('dataset/precos-gasolina-etanol-10.csv')
)

In [4]:
#show the schema of the dataframe
df.printSchema()

root
 |-- Regiao - Sigla: string (nullable = true)
 |-- Estado - Sigla: string (nullable = true)
 |-- Municipio: string (nullable = true)
 |-- Revenda: string (nullable = true)
 |-- CNPJ da Revenda: string (nullable = true)
 |-- Nome da Rua: string (nullable = true)
 |-- Numero Rua: string (nullable = true)
 |-- Complemento: string (nullable = true)
 |-- Bairro: string (nullable = true)
 |-- Cep: string (nullable = true)
 |-- Produto: string (nullable = true)
 |-- Data da Coleta: string (nullable = true)
 |-- Valor de Venda: string (nullable = true)
 |-- Valor de Compra: string (nullable = true)
 |-- Unidade de Medida: string (nullable = true)
 |-- Bandeira: string (nullable = true)

In [6]:
#create a view to use in sql queries
df.createOrReplaceTempView('combustiveis')

In [9]:
# show the first 5 rows of the dataframe with the sql query
spark.sql('SELECT * FROM combustiveis').show(5)

+--------------+--------------+---------+--------------------+-------------------+--------------------+----------+-----------+--------+---------+------------------+--------------+--------------+---------------+-----------------+--------+
|Regiao - Sigla|Estado - Sigla|Municipio|             Revenda|    CNPJ da Revenda|         Nome da Rua|Numero Rua|Complemento|  Bairro|      Cep|           Produto|Data da Coleta|Valor de Venda|Valor de Compra|Unidade de Medida|Bandeira|
+--------------+--------------+---------+--------------------+-------------------+--------------------+----------+-----------+--------+---------+------------------+--------------+--------------+---------------+-----------------+--------+
|            NE|            AL|ARAPIRACA|COMERCIAL DE COMB...| 02.817.655/0001-82|RODOVIA AL 220 - ...|       S/N|       NULL|PLANALTO|57308-000|          GASOLINA|    02/10/2023|          6,08|           NULL|       R$ / litro|   VIBRA|
|            NE|            AL|ARAPIRACA|COMERCIAL DE COMB...| 02.817.655/0001-82|RODOVIA AL 220 - ...|       S/N|       NULL|PLANALTO|57308-000|GASOLINA ADITIVADA|    02/10/2023|          6,08|           NULL|       R$ / litro|   VIBRA|
|            NE|            AL|ARAPIRACA|COMERCIAL DE COMB...| 02.817.655/0001-82|RODOVIA AL 220 - ...|       S/N|       NULL|PLANALTO|57308-000|            ETANOL|    02/10/2023|          4,78|           NULL|       R$ / litro|   VIBRA|
|            NE|            AL|ARAPIRACA|AUTO POSTO SAO FR...| 12.706.529/0001-04|   RUA SAO FRANCISCO|       274|       NULL|  CENTRO|57300-080|          GASOLINA|    02/10/2023|          5,79|           NULL|       R$ / litro|   VIBRA|
|            NE|            AL|ARAPIRACA|AUTO POSTO SAO FR...| 12.706.529/0001-04|   RUA SAO FRANCISCO|       274|       NULL|  CENTRO|57300-080|            ETANOL|    02/10/2023|          4,29|           NULL|       R$ / litro|   VIBRA|
+--------------+--------------+---------+--------------------+-------------------+--------------------+----------+-----------+--------+---------+------------------+--------------+--------------+---------------+-----------------+--------+
only showing top 5 rows