# Carregando Conjunto de Dados

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

data = load_iris()
iris_df = pd.DataFrame(data.data, columns=data.feature_names)
iris_df['encoded_target'] = data.target

#### removendo espaços em branco e marcador de centímetros para facilitar o acesso das colunas do conjunto

In [2]:
iris_df.columns = [c.replace("(cm)", "").rstrip().replace(" ", "_") for c in iris_df.columns]

In [3]:
iris_df

     sepal_length  sepal_width  petal_length  petal_width  encoded_target
0             5.1          3.5           1.4          0.2               0
1             4.9          3.0           1.4          0.2               0
2             4.7          3.2           1.3          0.2               0
3             4.6          3.1           1.5          0.2               0
4             5.0          3.6           1.4          0.2               0
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3               2
146           6.3          2.5           5.0          1.9               2
147           6.5          3.0           5.2          2.0               2
148           6.2          3.4           5.4          2.3               2
149           5.9          3.0           5.1          1.8               2

[150 rows x 5 columns]

In [4]:
# .info() - mostra informações sobre o dataframe
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sepal_length    150 non-null    float64
 1   sepal_width     150 non-null    float64
 2   petal_length    150 non-null    float64
 3   petal_width     150 non-null    float64
 4   encoded_target  150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [5]:
# .describe() - mostra estatísticas descritivas
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width  encoded_target
count    150.000000   150.000000    150.000000   150.000000      150.000000
mean       5.843333     3.057333      3.758000     1.199333        1.000000
std        0.828066     0.435866      1.765298     0.762238        0.819232
min        4.300000     2.000000      1.000000     0.100000        0.000000
25%        5.100000     2.800000      1.600000     0.300000        0.000000
50%        5.800000     3.000000      4.350000     1.300000        1.000000
75%        6.400000     3.300000      5.100000     1.800000        2.000000
max        7.900000     4.400000      6.900000     2.500000        2.000000

# Projeção, Deleção e Junção de Dados

In [6]:
print(".loc()")
print("="*13,"Projeção por nome","="*13)
print(iris_df.loc[1])
print("\n\n")
print("="*13,"Projeção da média por nome","="*13)
iris_df.describe().loc['mean']

.loc()
============= Projeção por nome =============
sepal_length      4.9
sepal_width       3.0
petal_length      1.4
petal_width       0.2
encoded_target    0.0
Name: 1, dtype: float64



============= Projeção da média por nome =============

sepal_length      5.843333
sepal_width       3.057333
petal_length      3.758000
petal_width       1.199333
encoded_target    1.000000
Name: mean, dtype: float64

In [7]:
print(".iloc()")
print("="*13,"Projeção por índice","="*13)
print(iris_df.iloc[1])
print("="*30)
print(iris_df.iloc[1,2])
print("="*30)

.iloc()
============= Projeção por índice =============
sepal_length      4.9
sepal_width       3.0
petal_length      1.4
petal_width       0.2
encoded_target    0.0
Name: 1, dtype: float64
==============================
1.4
==============================

In [8]:
print(".drop()")
print("="*13,"Deleção ","="*13)
iris_df.drop([0])

.drop()
============= Deleção  =============

     sepal_length  sepal_width  petal_length  petal_width  encoded_target
1             4.9          3.0           1.4          0.2               0
2             4.7          3.2           1.3          0.2               0
3             4.6          3.1           1.5          0.2               0
4             5.0          3.6           1.4          0.2               0
5             5.4          3.9           1.7          0.4               0
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3               2
146           6.3          2.5           5.0          1.9               2
147           6.5          3.0           5.2          2.0               2
148           6.2          3.4           5.4          2.3               2
149           5.9          3.0           5.1          1.8               2

[149 rows x 5 columns]

In [9]:
print("="*13,"Deleção com filtro","="*13)
iris_df.drop(iris_df.query("sepal_length >= 4.5").index)

============= Deleção com filtro =============

    sepal_length  sepal_width  petal_length  petal_width  encoded_target
8            4.4          2.9           1.4          0.2               0
13           4.3          3.0           1.1          0.1               0
38           4.4          3.0           1.3          0.2               0
42           4.4          3.2           1.3          0.2               0

In [10]:
print("="*13,"Junção","="*13)
s1 = pd.Series(['a','b'])
s2 = pd.Series(['c','d'])
print(".concat()")
pd.concat([s1, s2], axis=1)

============= Junção =============
.concat()

   0  1
0  a  c
1  b  d

In [11]:
pd.concat([s1, s2], axis=0)

0    a
1    b
0    c
1    d
dtype: object

In [12]:
print(".merge()")
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'], 'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'], 'value': [5, 6, 7, 8]})

print(df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=('_left', '_right')))

.merge()
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  bar           2  bar            6
3  baz           3  baz            7
4  foo           4  foo            5
5  foo           4  foo            8

In [13]:
print('.join()')
df1 = pd.DataFrame({'key': ['foo', 'bar', 'baz', 'foo'], 'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['foo', 'bar', 'baz', 'foo'], 'value': [5, 6, 7, 8]})
df1.set_index('key').join(df2.set_index('key'), lsuffix='_left', rsuffix='_right')

.join()

     value_left  value_right
key
foo           1            5
foo           1            8
bar           2            6
baz           3            7
foo           4            5
foo           4            8

# Agregações

In [14]:
iris_df.groupby('encoded_target').count()

                sepal_length  sepal_width  petal_length  petal_width
encoded_target
0                         50           50            50           50
1                         50           50            50           50
2                         50           50            50           50

In [15]:
iris_df.groupby('encoded_target').mean()

                sepal_length  sepal_width  petal_length  petal_width
encoded_target
0                      5.006        3.428         1.462        0.246
1                      5.936        2.770         4.260        1.326
2                      6.588        2.974         5.552        2.026

In [16]:
iris_df.groupby('encoded_target').count().reset_index()

   encoded_target  sepal_length  sepal_width  petal_length  petal_width
0               0            50           50            50           50
1               1            50           50            50           50
2               2            50           50            50           50

### Função Apply

In [17]:
iris_df*2

     sepal_length  sepal_width  petal_length  petal_width  encoded_target
0            10.2          7.0           2.8          0.4               0
1             9.8          6.0           2.8          0.4               0
2             9.4          6.4           2.6          0.4               0
3             9.2          6.2           3.0          0.4               0
4            10.0          7.2           2.8          0.4               0
..            ...          ...           ...          ...             ...
145          13.4          6.0          10.4          4.6               4
146          12.6          5.0          10.0          3.8               4
147          13.0          6.0          10.4          4.0               4
148          12.4          6.8          10.8          4.6               4
149          11.8          6.0          10.2          3.6               4

[150 rows x 5 columns]

In [18]:
target_names = data.target_names
def mapear_especie(x):
    return target_names[x]

In [21]:
iris_df['especie'] = iris_df['encoded_target'].apply(lambda x: mapear_especie(x))

In [22]:
iris_df

,sepal_length,sepal_width,petal_length,petal_width,encoded_target,especie
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica